html{
  box-sizing:border-box;
}

* , ::before , ::after
{
  box-sizing:inherit;
}

body{
  margin:0px;
  font-family:var(--font-body);
  background:var(--color-violet) url(../images/bg-desktop.svg) no-repeat fixed center center;
  background-size:cover;
}

/* for smaller screen sizes max 767px*/
@media all and (max-width:767px){
  body{
    background: var(--color-violet) url(../images/bg-mobile.svg) no-repeat fixed top center ;
    background-size:100%;
  }
}

h1 , p{
  color:var(--color-white);
  text-transform: capitalize;
}
h1{
  font-size:2rem;
  line-height:1.7;
}
p{
  font-size:1.1rem;
  line-height:1.7;
  word-spacing:1.5px;
}

a{
  display:block;
}



/* header */
header img{
  width:150px;
  margin:3rem 0;
}


/* main */

  main .mockup>img{
    max-width:100%;
  }


/* for bigger screen sizes above 768px*/
@media all and (min-width:768px){
  main .container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
  }
  .text{
    width:50%;
    display:flex;
    flex-flow:column wrap;
    align-items:flex-start;
    justify-content: center;
    margin-left:2rem;
  }
  .text p{
    text-align:left !important;
    margin-top:0 !important;
  }
  .text h1{
    font-size:2.5rem;
    margin-top:initial !important;
    text-align:left !important;
  }
  .btn{
    margin:0 !important;
    width:200px;
  }
}

  .text>*{
    text-align:center;
  }
  .text h1{
    margin-top:5rem;
  }

  .btn{
    margin: 1rem 3rem;
    padding:0.75rem 0;
    background-color:var(--color-white);
    display: block;
    justify-content: center;
    align-items:center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    border-radius: 9999px;
    font-size:1.2rem;
    color:var(--color-violet);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
  }
  .btn:hover{
    background-color:var(--color-soft-magenta);
    color:var(--color-white);
  }
  .btn:active{
    background-color:hsl(300, 69%, 50%);
  }

/* footer */

  footer{
   margin-top :5rem;
   padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* for bigger screen sizes above 768px*/
  @media all and (min-width:768px){
    footer{
    margin-top:1.5rem;
    justify-content:flex-end;
    }
  }
  .social-media{
    width:2rem;
    height:2rem;
    margin:10px;
    text-decoration: none;
    color:var(--color-white);
    border:1px solid var(--color-white);
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: 0.25s;
  }
  .social-media:hover{
  color:var(--color-soft-magenta);
  border-color:var(--color-soft-magenta);
  }